<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3> <%= pergunta.titulo %> </h3>  
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/pergunta/<%= pergunta.id %>">Responder</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>