<%- include ('partials/header.ejs') %>

<body>

    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/responder">
            <h3>Responda</h3>
            <label>Sua resposta</label>
            <textarea placeholder="Digite aqui sua resposta" class="form-control" name="corpo"></textarea>
            <br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => {%>
            <div class="card">
                <div class="card-body">
                    <a>- <%= resposta.corpo %></a> 
                </div>
            </div>
            <br>
        <%}) %>
    </div>

</body>

<%- include ('partials/footer.ejs') %>